:root {
    --sky: #3fd9ff;
    --dark: #00008b;

}


header {
    background-image: linear-gradient(to right, var(--sky), var(--dark));
}

.card {
    background: var(--dark);
    color: white;
    padding: 0.5rem;
}
.card-body{
    padding: 0.3rem;
}

.input-group {
    flex-direction: column;
}